@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: urban;
    src: url(./assets/fonts/Urbanist-Regular.ttf);
}

.font-cabin{
    font-family: cabin;
}